#levelMenuContainer, #timeIsOutContainer, #livesMenuContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}

#levelContentContainer, #timeContentContainer, #livesContentContainer {
    background-color: #414141;
    border: solid 3px #FAFF00;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FAFF00;
    height: 15rem;
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

#nextButton, #tryAgainButton {
    margin-top: 3px;
    background: none;
    border: none;
    font-size: 1rem;
    color: #FAFF00;
    font-family: 'Russo One', sans-serif;
}
#nextButton:hover, #tryAgainButton:hover {
    color: orange;
}

#timeLevelDiv, #livesLevelDiv {
    text-align: center;
}

 




