#topMenuContainer {
    background-color: #05172E;
    color: #FAFF00;
    width: 100vw;
    height: 80px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#timerContainer.danger span{
color: red;
}
