#topMenuContainer {
    background-color: #05172E;
    color: #FAFF00;
    width: 100vw;
    height: 5rem;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
